<section class="add_image" id="add_image">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Add image to collection</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div id="camera_add"></div>

        <form id="form_img">
          Name: <input type="text" id="name" name="name" required/>
          <input hidden type="file" id="inpObject" accept="image/*" capture>
          <input type=button value="Take Photo" id="take" onClick="camera_add()">

      	</form>


        <script language="JavaScript">
      
      		    Webcam.set({
      		    	width: 480,
      		    	height: 320,
      		    	image_format: 'jpeg',
      		    	jpeg_quality: 80
      		    });
      		    Webcam.attach( '#camera_add' );


      	</script>

      	<!-- Code to handle taking the snapshot and displaying it locally -->
      	<script language="JavaScript">
      		function camera_add() {
            if (!$('#name').val().trim().length)
              { alert("Please enter your name"); return; }
      			// take snapshot and get image data
      			Webcam.snap( function(data_uri) {
      				// display results in page
      				document.getElementById('camera_add').innerHTML =
      					'<img width="480" height="320" src="'+data_uri+'"/>';

                $('#results').html("Processing.. Please wait..");
                $('#form_img').hide();
                var name = $('#name').val();

                $.ajax({
                  url: '/add',
                  type: 'POST',
                  data: {
                    img: data_uri,
                    name: name
                  },
                  timeout: 10000,
                  success: function(data,x,y) {
                    if (data.length<1){
                      $('#results').html("<p> No faces detected</p>");
                    }
                    if (data.length==1){
                      face=data[0]['face_detail']
                        $('#results').html("<p><h4>"+name+"</h4>");
                        $('#results').append("<ul>");
                      $('#results').append("<li> Age Range: " + face.age_range.low + " - " + face.age_range.high +"</li> ");
                      $('#results').append("<li> Beard: " + face.beard.value +" ( confidence: "+ face.beard.confidence+"%)</li> ");
                      $('#results').append("<li> Eyeglasses: " + face.eyeglasses.value +" ( confidence: "+ face.eyeglasses.confidence + "%)</li> ");
                      $('#results').append("<li> Sunglasses: " + face.sunglasses.value +" ( confidence: "+ face.sunglasses.confidence  + "%)</li> ");
                      $('#results').append("<li> Gender: " + face.gender.value +" ( confidence: "+ face.gender.confidence  + "%)</li> ");
                      $('#results').append("<li> Smile: " + face.smile.value + "( confidence: "+ face.smile.confidence  +"%)</li> ");
                      $('#results').append("<li> Mouth Open: " + face.mouth_open.value + "( confidence: "+ face.mouth_open.confidence +"%)</li> ");
                      $('#results').append("<li> Emotions: " + face.emotions[0].type + "( confidence: "+ face.emotions[0].confidence +"%)</li> ");
                      $('#results').append("</ul></p>");
                    }
                    if (data.length>1){
                      $('#results').html("<p> Too many faces detected</p>");
                    }
                    return ;
                  },
                  error: function(data,x,y) {
                    $('#results').append(data);
                    return ;
                  }
                });
      			} );

      		}
      	</script>
      </div>
      <div class="col-md-6 col-lg-6">
         <div id="results">Your captured image will appear here...</div>
      </div>

    </div>
  </div>
</section>
