<section class="test_image" id="test_image">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Check an image </h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-6 col-lg-6">

        <div id="camera_test"></div>
        <form id="form_img">
          <input hidden type="file" id="inpObject" accept="image/*" capture>
          <input type=button value="Take Photo" id="take" onClick="camera_test()">
        </form>

        <script language="JavaScript">
              Webcam.set({
                width: 480,
                height: 320,
                image_format: 'jpeg',
                jpeg_quality: 80
              });
              Webcam.attach( '#camera_test' );
        </script>
        <script language="JavaScript">
          function camera_test() {
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
              // display results in page

                              $('#results_test').html("Processing.. Please wait..");
              document.getElementById('camera_test').innerHTML =
      					'<img width="480" height="320" src="'+data_uri+'"/>';
                $('#form_img').hide();
                $.ajax({
                  url: '/find',
                  type: 'POST',
                  data: {
                    img: data_uri
                  },
                  timeout: 10000,
                  success: function(data,x,y) {
                    $('#results_test').html("<p><h4>"+data.message+"</h4></p>");
                    if (data.message == "Face found!"){
                      $('#results_test').append("<p><h4>Name: "+data.id+"</h4></p>");
                      $('#results_test').append("<p><h4>Confidence: "+data.confidence+"</h4></p>");
                    }
                    return ;
                  },
                  error: function(data,x,y) {
                    $('#results_test').html (data);
                    return ;
                  }
                });
            } );

          }
        </script>
          </div>
      <div class="col-md-6 col-lg-6">
      <div id="results_test">Your captured data will appear here...</div>
      </div>
    </div>

  </div>
</section>
