<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <%= image_tag("profile.png", class: "img-fluid mb-5 d-block mx-auto") %>
    <h1 class="text-uppercase mb-0"></h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">  <a href="https://aws.amazon.com/rekognition/"> <font color="#2c3e50">Amazon Rekognition</font></a> makes it easy to add image and video analysis to your applications. You just provide an image or video to the Rekognition API, and the service can identify the objects, people, text, scenes, and activities, as well as detect any inappropriate content. Amazon Rekognition also provides highly accurate facial analysis and facial recognition. You can detect, analyze, and compare faces for a wide variety of user verification, cataloging, people counting, and public safety use cases.</h2>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section class="add_image" id="add_image">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Instructions</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h4>
      <p>In this demo you will see

      <ul>

        <li>
            How to create a collection (see the code at visitors_controller.rb)
          </li>
        <li>
          How to add images to a collection using rekognition  (see the code at visitors_controller.rb method: add)
        </li>  <li>
            How to check if an image belongs to a collection (see the code at visitors_controller.rb method: find)
          </li>
          <li>
              How to delete a collection (see the code at visitors_controller.rb method: reset)
            </li>

      </ul></p>
</h4>
            <%= image_tag("rekog.png", class: "img-fluid mb-5 d-block mx-auto") %>
      </div>
    </div>
  </div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
